<?xml version="1.0" encoding="UTF-8"?>
<Interfaces>
  <Interface>
    <CAN_Name>can0</CAN_Name>
    <IP_OUT>192.168.1.110</IP_OUT>
    <PORT_IN>4950</PORT_IN>
    <PORT_OUT>5000</PORT_OUT>
  </Interface>
  <Interface>
    <CAN_Name>can1</CAN_Name>
    <IP_OUT>192.168.1.110</IP_OUT>
    <PORT_IN>4951</PORT_IN>
    <PORT_OUT>5001</PORT_OUT>
  </Interface>
  <Interface>
    <CAN_Name>can2</CAN_Name>
    <IP_OUT>192.168.1.110</IP_OUT>
    <PORT_IN>4952</PORT_IN>
    <PORT_OUT>5002</PORT_OUT>
  </Interface>
</Interfaces>